@CHARSET "ISO-8859-1";

body {
	font-family: Verdana, Geneva, sans-serif;
	background-color: black;
	background-image: url(image/mountain_rise.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header {
	text-align: right;
}

footer {
    text-align: center;
}

div.header, div.footer {
	background-color: black;
	color: white;
	padding: 10px;
}