@CHARSET "ISO-8859-1";

body {
	font-family: Verdana, Geneva, sans-serif;
	background-color: black;
	background-image: url(image/mountain_rise.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

header {
	text-align: right;
}

footer {
    text-align: center;
}

div.header, div.footer {
	background-color: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px;
	width:100%;
	position:absolute;
	left: 0;
}
div.header {
	top: 0;
}
div.footer {
    bottom: 0;
}
div.titre {
	text-align: center;
	font-size: 200%;
	padding: 50px;
}