@CHARSET "ISO-8859-1";

div.categorie, div.fil {
	
	padding: 10px;
}

div.categorie, div.fil {
	border-style: solid;
	border-width: 2px 2px 0px 2px;
	background-color: black;
	background-image: url('../commun/image/pattern2.jpg');
}
div.categorie {
	font-size: 125%;
}
div.fin {
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	margin-bottom: 15px;
}

div.post {
	border-style: solid;
	border-width: 2px 2px 0px 2px;
	background: rgba(34,34,34,0.85);
	background: -moz-linear-gradient(left, rgba(34,34,34,0.95) 0%, rgba(34,34,34,0.95) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,34,34,0.95)), color-stop(100%, rgba(34,34,34,0.95)));
	background: -webkit-linear-gradient(left, rgba(34,34,34,0.95) 0%, rgba(34,34,34,0.95) 100%);
	background: -o-linear-gradient(left, rgba(34,34,34,0.95) 0%, rgba(34,34,34,0.95) 100%);
	background: -ms-linear-gradient(left, rgba(34,34,34,0.95) 0%, rgba(34,34,34,0.95) 100%);
	background: linear-gradient(to right, rgba(34,34,34,0.95) 0%, rgba(34,34,34,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}
div.repondre {
	padding: 10px;
	margin-bottom: 15px;
	border-style: solid;
	border-width: 2px;
	background-color: black;
	background-image: url('../commun/image/pattern2.jpg');
}

span.postUtilisateur, span.postTexte {
	display: inline-block;
}

span.postUtilisateur {
	padding: 10px;
	width: 17%;
	background-color: black;
	background-image: url('../commun/image/pattern2.jpg');
	border-style: solid;
	border-width: 0px 2px 0px 0px;
}
img.utilisateur {
	width: 97%;
	border-style: dashed;
	border-width: 3px;
}
div.utilisateur {
	font-size: 125%;
}
div.utilisateurRole {
	color: red;
	font-size: 75%;
}
span.postTexte {
	color: olive;
	width: 80%;
	vertical-align: top;
}
div.postTexte, div.postDate {
	padding: 10px;
}
div.postDate {
	font-size: 75%;
	text-align: right;
}
div.form {
	text-align: right;
	padding: 10px;
}


a {
	color: chocolate;
}

a:hover {
	color: maroon;
}
